name: Release
permissions:
  contents: write
on: workflow_dispatch
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: zulu
      - uses: whelk-io/maven-settings-xml-action@v22
        with:
          servers: >
            [
              { "id": "sonatype", "username": "${{ secrets.MVN_REPO_PRIVATE_REPO_USER }}", "password": "${{ secrets.MVN_REPO_PRIVATE_REPO_PASSWORD }}" }
            ]
      - name: set name
        run: |
          git config --global user.name "release-bot";
          git config --global user.email "release-bot@phocas.co.nz";

      - name: add key
        run: |
          echo  "${{ secrets.GPG_KEY }}" | base64 -d > private.key
          gpg --batch --import ./private.key
          rm ./private.key
          gpg --list-secret-keys --keyid-format LONG

      - name: prepare
        run: |
          mvn release:prepare -Dusername=${{ secrets.GITHUB_TOKEN }} -P sonatype

      - name: release
        run: |
          mvn release:perform -Dusername=${{ secrets.GITHUB_TOKEN }} -P sonatype
